<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link href='https://fonts.googleapis.com/css?family=Cute Font' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/userHome.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-sm  fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'images/pawfectlogo.jpg'%}" alt="" width="150px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="user_home">Home</a>
          </li>
          <li class="nav-item dropdown petDrop">
            <a class="nav-link " href="" role="button" data-bs-toggle="dropdown">FILTER</a>
            <ul class="dropdown-menu petDrop-menu">
              {% for i in pet %}
              <li class="nav-item dropdown catDrop">
                <a class="nav-link " href="petType/{{i.pk}}" role="button" data-bs-toggle="dropdown">{{i.pet}}</a>
                <ul class="dropdown-menu catDrop-menu">
                  {% for j in cat %}
                  {% if j.pet == i %}
                  <li><a class="dropdown-item" href="products/{{j.pk}}">{{j.category}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="viewCart">CART</a>
          </li>
          <li class="nav-item dropdown userDrop">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown">hi , {{user.first_name}}</a>
            <ul class="dropdown-menu userDrop-menu">

              <li><a class="dropdown-item" href="bookings">bookings</a></li>
              <li><a class="dropdown-item" href="viewFav">favorite</a></li>
              <li><a class="dropdown-item" href="address">address</a></li>
              <li><a class="dropdown-item" href="logout">logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="body">
    <div class="main">
      <img src="{% static 'images/homeMain2.jpeg'%}" alt="" class="homeImg">
    </div>
    <div class="container">
      <div class="row">
        {% for i in pet %}
        <div class="colomn">
          <a class="petLink" href="petType/{{i.pk}}">
            <img class="petPhoto img-fluid" src="{{i.img.url}}" alt="">
            <h2 class="petName">{{i.pet}}</h2>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="latest-main">
      <h2>LATEST PRODUCTS</h2>
      <div class="container swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            {% for i in data %}
            <li class="card-item swiper-slide">
              <a href="product/{{i.pk}}" class="card-link">
                <img src="{{i.img.url}}" alt="" class="card-image">
                <h5 class="card-title">{{i.name}}</h5>
                <!-- <h5 class="card-title">{{i.dis}}</h5> -->
              </a>
            </li>
            {% endfor %}
          </ul>
          <!-- <div class="swiper-pagination"></div> -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="discount-main">
      <h2>PRODUCTS WITH MORE THAN 30% DISCOUNT</h2>
      <div class="container swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            {% for i in data3 %}
            <li class="card-item swiper-slide">
              <a href="product/{{i.product.pk}}" class="card-link">
                <img src="{{i.product.img.url}}" alt="" class="card-image">
                <h5 class="card-title">{{i.product.name}}</h5>
                <h5 class="card-title">{{i.dis}}</h5>
                <h5><s><span>{{i.price}}</span></s>
                  <span>{{i.ofr_price}}</span>
                </h5>
              </a>
            </li>
            {% endfor %}
          </ul>
          <!-- <div class="swiper-pagination"></div> -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">

    <div class="container">


      <div class="row mb-5">
        <div class="col-md-4">
          <div class="site-logo">
            <a href="#">Pawfect</a>
          </div>
        </div>
        <div class="col-md-8 text-md-right">
          <ul class="list-unstyled social-icons">
            <li><a href="#" class="fb"><span class="icon-facebook"><i class="fa-brands fa-facebook"></i></span></a></li>
            <li><a href="#" class="tw"><span class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
            <li><a href="#" class="in"><span class="icon-instagram"><i class="fa-brands fa-instagram"></i></span></a></li>
          </ul>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6 ">
          <ul class="nav-links list-unstyled nav-left">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Policy</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="nav-links list-unstyled nav-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row row3">
        <div class="col ">
          <div class="copyright">
            <p><small>Copyright 2019. All Rights Reserved.</small></p>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>