body{
    background-color: rgb(255, 255, 255);
}
form{
    width: 400px;
    margin: auto;
    margin-top: 17%;
    padding: 50px;
    box-shadow: 0 0 5px;
    border-radius: 15px;
}
.btn{
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    margin: auto;
}
input{
    border-radius: 5px;
    padding: 10px;
}