body{
    margin-top: 60px;
    font-family: 'Cute Font';
    font-size: 28px;
}
.body{
    background-color: #f8f9fa;
}
.navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px ;
    height: 60px;
}
.nav-link{
    /* font-weight: 600; */
    color: rgb(0, 0, 0);
    padding: 5px 10px !important;
    /* margin: 0 10px; */
    /* color: #fff; */
    text-transform: uppercase;
    /* text-decoration: none; */
    letter-spacing: 0.15em;
    
    display: inline-block;
    /* padding: 15px 20px; */
    position: relative;
}
.nav-link:hover{
    color: black;
    border-bottom: 2px solid orange;
}
.active{
    color: black;
    border-bottom: 2px solid orange;
}
.userDrop-menu{
    text-transform: uppercase;
    font-size: 20px;
    height: 900px;
    width: 500px;
}
.userDrop-menu .dropdown-item:hover{
    color: black;
    border-bottom: 2px solid orange;
}
.container{
    padding-top: 20px;
}
.price{
    font-size: 16px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.511);
    padding-right: 10px;
}
.offerPrice{
    font-weight: 700;
    color: rgb(255, 132, 0);
    padding-right: 10px;
}
.offerPer,.discount{
    font-size: 16px;
    font-weight: 700;
    color: rgb(32, 148, 12);
}
.stock{
    font-size: 18px;
}
.cart{
    border: 1px solid  rgb(255, 132, 0);
    background-color:  rgb(255, 132, 0);
    color:  rgb(255, 255, 255);
}
.cart:hover{
    color:  rgb(255, 132, 0);
    border: 1px solid  rgb(255, 132, 0);
}
.buy{
    border: 1px solid  rgb(255, 132, 0);
    color:  rgb(255, 132, 0);
}
.buy:hover{
    background-color:  rgb(255, 132, 0);
    color: white;
}
.cartView{
    padding-top: 30px;
}
.cartView img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.cartView h2{
    font-weight: 700;
    color: rgb(77, 76, 75);
}
.cartView .btn{
    border: 1px solid black;
    padding: 5px;
    height: 30px;
}
.cartView .btn:hover{
    background-color: rgb(152, 150, 150);
    color: white;
}
.buyAll{
    background-color:  rgb(255, 132, 0);
    color: white;
}
.buyAll:hover{
    color:  rgb(255, 132, 0);
    border: 1px solid  rgb(255, 132, 0);
}
#price{
    color: rgb(3, 177, 3);
    font-weight: 600;
}
.totalPrice{
    color: rgb(156, 83, 5);
    font-weight: 600;
}
.total{
    font-weight: 700;
    color: green;
}
.totalText{
    color: rgba(3, 65, 3, 0.601);
}
.totalRow{
    margin-top: 50px;
}
.os2{
    padding-top: 20px;
}
.os2 .col-lg-8 .row2{
    padding: 20px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px;
}
.os2 .col-lg-8 .row img{
    border-radius: 5px;
    width: 200px;
    height: 150px;
}
.os2 .col-lg-8 h3{
    font-size: 20px;
}
.os2 .col-lg-8 .row3{
    margin: 0;
    padding: 0;
}
.os2 .col-lg-8 .row3 .col-xs-6{
    padding: 0;
}
.os2 .name{
    font-weight: 700;
    color: rgb(77, 76, 75);
}
.os2 a{
    text-decoration: none;
    color: black;
}
.os2 .col-lg-4 #address{
    width: 350px;
    height: 50px;
}
.os2 .row4{
    margin-top: 20px;
}
.os2 .row4 .col-lg-6 h3{
    font-size: 18px;
}
.pay .btn{
    background-color: orange;
    color: white;
}
.os{
    padding-top: 20px;
}
.os img{
    width: 300px;
    height: 280px;
    border-radius: 5px;
}
.os a{
    text-decoration: none;
    color: black;
}
.os .name{
    font-weight: 700;
    color: rgb(77, 76, 75);
}
.os .row2{
    margin-top: 20px;
}
.os .row2 .col-lg-6 h3{
    font-size: 20px;
}
.os .btn,.address .btn1,.addressForm .btn{
    border-color: orange;
    color: orange;

}
.os .btn,.address .btn1 , .addressForm .btn:hover{
    background-color: orange;
    color: white;
}
.bookings .row1{
    height: 250px;
    padding: 20px;
}
.bookings .row img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.bookings .row2 h2{
    font-size: 21px;
}
.bookings .row2 .name{
    font-weight: 700;
}
.petType, .petType .row2{
    margin-top: 40px
}
.petType .row2 a{
    margin: 20px;
}
.container .petRow{
    padding-top: 30px;
}
.addressForm{
    font-size: 1.7rem;
}
.fav img{
    width: 250px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
.fav a{
    text-decoration: none;
    color: black;
}
.fav .row{
    margin: 20px 0;
}
.fav .col-2 .btn{
    margin-top: 80%;
}
.booking img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.booking .row{
    height: 300px;
    border-bottom: 1px solid;
    margin: 50px 0;
}
footer .list-unstyled li{
    display: inline;
}
footer a {
    text-decoration: none;
}
footer .container{
    width: 1100px;
    margin-top: 70px;
    margin-bottom: 70px;
}
footer .site-logo a{
    font-size: 34px;
    color: black;
}
footer .nav-left a,.nav-right a,.copyright{
    color: grey;
}
footer .row3{
    border-top: 1px solid grey;
    padding-top: 30px;
}
footer .copyright{
    text-align: center;
}
footer .nav-right{
    text-align: end;
}
footer .social-icons{
    text-align: end;
}

footer .fb{
    color: rgb(4, 4, 186);
}
footer .in{
    color: red;
}
footer .tw{
    color: rgb(5, 173, 251);
}
.fav-red{
    color: red;
}
@media only screen and (max-width: 578px) {

    .navbar-collapse{
        background-color: white;
    }
    .cartView{
        /* border: 1px solid black; */
        box-shadow: 0 0 5px ;

    }
    .cartView img{
        width: 80px;
        height: 70px;
    }
    .cartView .col1{
        max-width: 30%;
    }
    .cartView .col2{
        max-width: 70%;
    }
    .cartView .col-xs-6{
        -ms-flex: 50%; 
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }
    .cartView h2{
        font-size: 16px;
    }
    .cartView .btn{
        padding: 3px;
        height: 25px;
    }
    .cartView h4{
        font-size: 12px;
    }
    .totalText,.total{
        font-size: 13px;
    }
    .os2 .col-lg-8 .row2{
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 3px;
        height: 100px;
        border-bottom: 1px solid;
    }
    .os2 .col-lg-8{
        padding: 0;
    }
    .os2 .col-lg-8 .col-lg-6{
        max-width: 40%;
    }
    .os2 .col-lg-8 .col-lg-61{
        max-width: 60%;
    }
    .os2 .col-lg-8 .row img{
        width: 80px;
        height: 70px;
    }
    .os2 .col-lg-8 h3{
        font-size: 12px;
    }
    .os2 .col-lg-8 .row3{
        margin: 0;
        padding: 0;
    }
    .os2 .col-lg-8 .row3 .col-xs-6{
        padding: 0;
    }
    .os2 .row4 .col-lg-6 {
        max-width: 50%;
    }
    .os2 .row4 .col-lg-6 h3{
        font-size: 12px;
    }
    .os .row2 .col-lg-6 h3{
        font-size: 12px;
    }
    .os .row2 .col-lg-6{
        max-width: 50%;
    }
    .bookings .row1{
        border-bottom: 1px solid;
    }
    .bookings .row img{
        width: 90px;
        height: 70px;
    }
    .bookings .row2 h2{
        font-size: 12px;
    }
    .petType .row2{
        margin-top: 10px
    }
    .petType .row2 img{
        width: 80px;
        height: 70px;
    }
    .petType .row2 h2{
        font-size: 12px;
    }
    .addressForm{
        font-size: 1rem;
    }
    .address .form-label{
        font-size: 18px;
    }
    .fav img{
        width: 100px;
        height: 90px;
    }
    .fav .col-2 .btn{
        width: 50px;
        font-size: 12px;
        margin-top: 80%;
    }
    footer .container{
        max-width: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    footer .site-logo a{
        font-size: 24px;
    }
    footer .nav-left a,.nav-right a,.copyright{
        font-size: 16px;
    }
    footer .nav-right,.nav-left,.site-logo{
        text-align: center;
    }
    footer .social-icons{
        text-align: center;
    }
    

    /* -----------------------------------------admin---------------------------------------- */

    .editpet{
        font-size: 14px;
    }
    .det{
        font-size: 18px;
    }
    .booking img{
        width: 100px;
        height: 90px;
    }
    .booking .row{
        height: 200px;
    }
    .booking h2{
        font-size: 14px;
    }
}