body{
    margin-top: 80px;
}
.navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px ;
    height: 60px;
}
.nav-link{
    /* font-weight: 600; */
    color: rgb(0, 0, 0);
    /* padding: 5px 10px !important; */
    /* margin: 0 10px; */
    /* color: #fff; */
    text-transform: uppercase;
    /* text-decoration: none; */
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.nav-link:hover{
    color: black;
    border-bottom: 2px solid orange;
}
.active{
    color: black;
    border-bottom: 2px solid orange;
}
.price{
    font-weight: 700;
    color: rgba(128, 128, 128, 0.238);
}
.offerPrice{
    font-weight: 700;
    color: rgb(255, 132, 0);
}
.offerPer,.discount{
    font-weight: 700;
    color: rgb(38, 255, 0);
}
.userDrop-menu{
    border-radius: 0;
    width: 400px;
    /* height: 100%; */

}



@media only screen and (max-width: 578px) {

    .navbar-collapse{
        background-color: white;
    }
}