.petPhoto{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.petLink{
    text-decoration: none;
    color: black;
}
.petLink h2,h6{
    text-align: center;
}
.product{
    text-decoration: none;
    color: black;
}
.product h6{
    text-align: center;

}