.homeImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 15%;
}
.container{
    margin-top: 20px;
}
.colomn{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.petPhoto{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.petName{
    font-weight: 500;
}
.petLink{
    text-decoration: none;
    color: black;
}
.petLink h2,h6{
    text-align: center;
}
.product{
    text-decoration: none;
    color: black;
}
.product h6{
    text-align: center;

}
.cartQty h4{
    display: inline-block;
    padding: 10px;
}
.petDrop {
    position: static !important;
}
.petDrop-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
    background-color: rgba(188, 180, 180, 0.503);
    backdrop-filter: blur(10px);
}

.catDrop{
    position: static !important;
    float: left;
}

.catDrop-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(10px);
}
.catDrop:hover .catDrop-menu{
    display: block;
}
.catDrop-menu .dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.667);
    font-weight: 700;
}
#address{
    width: 200px;
    height: 70px;
    background-color: rgba(240, 248, 255, 0.486);
    border-radius: 5px;
    border: 1px solid ;
}
.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.latest-main{
    background-color: rgba(255, 166, 0, 0.126);
    margin: 20px 0;
    padding: 0 50px;
}

.swiper-slide img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.discount-main{
    margin: 20px 0;
    padding: 0 50px;
}
.petRow .column{
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.productRow .column{
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

@media only screen and (max-width: 578px) {
    .navbar-toggler{
        border: 0;
    }
    .homeImg{
        height: 200px;
    }
    .petPhoto{
        width: 60px;
        height: 60px;
    }
    .petName{
        font-size: 12px;
    }
    .petDrop{
        display: none;
    }
    .card-wrapper img{
        width: 80px;
        height: 80px;
    }
    h2{
        font-size: 18px;
    }
    h5{
        font-size: 12px;
    }
    .card-wrapper [class^="swiper-button-"]::after{
        font-size: 15px;
        color: black;
    }
    .petRow .column{
        -ms-flex: 50%; 
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }
    .petRow img{
        width: 100px;
        height: 100px;
    }
    .petRow h2{
        font-size: 12px;
    }
    .productRow img{
        width: 100px;
        height: 100px;
    }
    .productRow .column{
        -ms-flex: 50%; 
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }
    .productRow h6{
        font-size: 12px;
    }
}